h1{
    text-align: center;
    color: black;
    font-size: ;
font-style: italic;
width: 0in;
}
#container{
    background-color: rgba(17, 150, 184, 0.493);
}
IMG{
    text-align: center;
    width:initial;
}
#color{
    background-color: brown;
}